.container {
  display: flex;
  justify-content: center;
  background: #970505;
  font-family: 'Courier New', Courier, monospace;
}

.tableContainer {
  display: block;
  max-width: 1000px; /* Define a largura máxima do contêiner da tabela */
}

.table {
  min-width: 500px;
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  background: #e05a5a;
  border: 1px solid #EEEEEE;
  padding: 8px;
  text-align: center;
  font-size: 20px;
}

.tableContainer h1 {
  color: #FFF;
  font-size: 40px;
  text-align: center;
}

.table th {
  font-size: 24px;
}

.characterNameCell {
  max-width: 300px;
}

.characterDescriptionCell {
  max-width: 350px;
}

.characterImage {
  width: 300px;
  height: auto;
  transition: all 0.8s ease-in-out;
}

.table td {
  position: relative; /* Define a posição relativa para a célula da tabela */
}

.table td img:hover {
  width: 450px;
  height: 100%;
}

.loadMoreButton {
  display: block;
  margin: 15px auto;
  width: 100%;
  font-size: 24px;
  justify-content: center;
  border-radius: 5px;
  background: #EEEEEE;
  color: #970505;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.loadMoreButton:hover {
  background: #970505;
  color: #FFF;
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  width: 100%;
}

.searchInput {
  width: 250px;
  height: 40px;
  padding: 0 10px;
  font-size: 20px;
  border: 1px solid #970505;
  border-radius: 5px;
}

.searchButton {
  width: 100px;
  height: 40px;
  margin-left: 10px;
  font-size: 20px;
  border: 1px solid #FFF;
  border-radius: 5px;
  background: #EEEEEE;
  color: #970505;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.searchButton:hover {
  background: #970505;
  color: #FFF;
}

.filterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterContainer h2 {
  color: #FFF;
  font-size: 24px;
  margin: 10px;
}

.filterContainer input{
  margin: 0 10px;
  cursor: pointer;
  background: #970505;
  color: #FFF;
}

.filterContainer input[type="checkbox"]:checked{
  background: #970505;
}

.filterContainer label {
  color: #FFF;
  font-size: 20px;
}

/* Media Querys */
@media (max-width: 1280px) {
  .table th {
    font-size: 16px;
  }

  .table td {
    font-size: 14px;
  }

  .tableContainer {
    max-width: 700px;
    justify-content: center;
  }

  .tableContainer h1 {
    font-size: 32px;
  }

  .characterImage {
    width: 200px;
  }

  .table td img:hover {
    width: 300px;
  }

  .loadMoreButton {
    font-size: 20px;
  }

  .searchInput {
    width: 200px;
    height: 30px;
    font-size: 16px;
  }

  .searchButton {
    width: 80px;
    height: 30px;
    font-size: 16px;
  }

  .filterContainer h2 {
    font-size: 20px;
  }

  .filterContainer input{
    margin: 0 5px;
  }

  .filterContainer label {
    font-size: 16px;
  }
}

  @media (max-width: 500px) {
   .table {
      max-width: 400px;
      min-width: 100px;
      width: 100%;
    }

    .table th {
      font-size: 14px;
    }

    .table td {
      font-size: 12px;
    }

    .tableContainer {
      max-width: 100%;
    }

    .tableContainer h1 {
      font-size: 24px;
    }

    .characterImage {
      width: 100px;
    }

    .table td img:hover {
      width: 150px;
    }

    .loadMoreButton {
      font-size: 16px;
    }

    .searchInput {
      width: 150px;
      height: 25px;
      font-size: 12px;
    }

    .searchButton {
      width: 70px;
      height: 25px;
      font-size: 12px;
    }

    .filterContainer h2 {
      font-size: 16px;
    }

    .filterContainer input{
      margin: 0 5px;
    }

    .filterContainer label {
      font-size: 12px;
  }
}